body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
a {
    color: black;
    text-decoration: none;
}
header nav {
    height: 116px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
header nav div.lessons {
    align-self: center;
    font-size: 25px;
    margin-left: 4%;
}
header nav div.lessons a i {
    color: #192a88;
}
header nav div.navigation ul {
    list-style: none;
    font-size: 16px;
    display: flex;
    column-gap: 40px;
    margin-left: -9%;
    align-items: center;
}
header nav div.navigation ul li :hover {
    color: #192a88;
}
a.user {
    font-size: 16px;
    margin-right: 8%;
    align-self: center;
}
a.user i {
    color: #192a88;
    scale: 1.5;
    margin-right: 10px;
}
section {
    height: 738px;
    background-color: #fff1e0;
    display: flex;
    justify-content: space-between;
    margin: 0 2.5%;
}
section div.text {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
}
section div.text h1 {
    font-size: 65px;
    font-weight: 600;
    letter-spacing: normal;
    margin-left: -150px;
    margin-top: 18px;
    margin-bottom: 20px;
}
section div.text p {
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 0px;
}
div.container {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    text-align: left;
    font-size: 18px;
    padding-left: 35px;
}
div.container a.container1 {
    background-color: #192a88;
    padding: 20px 40px;
    text-align: center;
    color: white;
    font-weight: 400;
}
div.container a.container1:hover {
    color: #192a88;
    background: #a3aace;
}
div.container a.container2 {
    background-color: transparent;
    border: 5px solid #192a88;
    padding: 15px 35px;
    text-align: center;
    color: #192a88;
    font-weight: 400;
}
div.container a.container2:hover {
    color: white;
    background: #192a88;
}
section div.pic {
    width: 55%;
    position: relative;
}
section div.pic img {
  height: 100%;
  position: absolute;
  width: 100%;
  object-fit: cover;
} 
